.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
}

.imgContainer {
  height: 300px;
  width: 250px;
  border: 1px solid rgb(210, 197, 197);
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
