.container {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 10px;
}

.imgContainer {
  height: 300px;
  width: 250px;
  border: 1px solid rgb(169, 168, 168);
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
